<app-loading *ngIf="load"></app-loading>

<div class="row animated fadeIn" *ngIf="!load">
  <div class="col-2">
    <img [src]="artista.images | noImage" class="img-thumbnail img-circle" >
  </div>

  <div class="col">
<h3>{{artista.name}}</h3>
    <p >
      <a  [href]="artista.external_urls.spotify" target="_blank">
        Ir a la Pagina del artista
      </a>
    </p>
  </div>

  <div class="col-4 text-right">
<button class="btn btn-outline-danger" routerLink="/search">Regresar</button>
  </div>
</div>
